@font-face {
  font-family: "ArialCustom";
  src: url("../public/fonts/ArialRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ArialCustom";
  src: url("../public/fonts/ArialItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "ArialCustom";
  src: url("../public/fonts/ArialBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ArialCustom";
  src: url("../public/fonts/ArialBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "ArialCustom";
  src: url("../public/fonts/ArialBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
