name: Deploy to Production
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger production deployment
        run: |
          curl -X POST "http://localhost:3000/api/git-pull?server_id=1455262&app_id=5894270&git_url=git@github.com:EnsureProtect/ep-newer-version.git&branch_name=main"
